@{
    ViewData["Title"] = "Ctrl-Alt-PC";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is built using ASP.NET</p>
    <p>Source open at <a href="https://github.com/Li-Kuo?tab=repositories">https://github.com/Li-Kuo?tab=repositories</a></p>
    <p>hello world!</p>
</div>
